@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Oxygen&display=swap');
body{
    margin : 0px 0px;
    background-color: red;
}
h1{
    text-align: center;
    font-family: 'oxygen';
}
header p{
    font-family:'Montserrat' ;
    text-align: center;
}
img{
    width: 1263 px;
    height: 497px;
    position: absolute;
    top: 900px;
}
.img1{
    width: 1263px;
    height: 200px;
}

.repos img{
    position: absolute;
    top: 200px;
    margin-left: 20px;
    height: 200px;
    width: 200px;
}


.repos h2{
    font-family: 'oxygen';
    position: absolute;
    top: 200px;
    left: 300px;
}
.repos h4{
    font-family: 'oxygen';
    position: absolute;
    top: 230px;
    left: 300px;
}
.repos p{
    position: absolute;
    top: 270px;
    left: 300px;
    font-family: "Montserrat";
}



.jeux h2{
    font-family: 'oxygen';
    position: absolute;
    top: 450px;
    left: 300px;
}
.jeux h4{
    font-family: 'oxygen';
    position: absolute;
    top: 480px;
    left: 300px;
}
.jeux p{
    position: absolute;
    top: 520px;
    left: 300px;
    font-family: "Montserrat";
}

.jeux h2{
    font-family: 'oxygen';
    position: absolute;
    top: 450px;
    left: 300px;
}
.jeux h4{
    font-family: 'oxygen';
    position: absolute;
    top: 480px;
    left: 300px;
}
.jeux p{
    position: absolute;
    top: 520px;
    left: 300px;
    font-family: "Montserrat";
}


.marche h2{
    font-family: 'oxygen';
    position: absolute;
    top: 700px;
    left: 300px;
}
.marche h4{
    font-family: 'oxygen';
    position: absolute;
    top: 730px;
    left: 300px;
}
.marche p{
    position: absolute;
    top: 770px;
    left: 300px;
    font-family: "Montserrat";
}


.jeux img{
    position: absolute;
    top: 450px;
    margin-left: 20px;
    height: 200px;
    width: 200px;
}

.marche img{
    position: absolute;
    top:700px;
    margin-left: 20px;
    height: 200px;
    width: 200px;
}
.repos .container{
    position: absolute;
    left: 290px;
    top: 350px;
}

.jeux .container{
    position: absolute;
    left: 290px;
    top: 600px;
}

.marche .container{
    position: absolute;
    left: 290px;
    top: 850px;
}









.container{
    text-align: center;
}
.btn{
    border: 1px solid blue ;
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Monteserrat';
    cursor: pointer;
    margin: 10px;
    position: relative;
    overflow: hidden;
} 
.btn1{
    color: blue;
}
.btn1:hover{
    border: 1px solid white;
    color:white ;
}




@media screen and (max-width:500px){  
    .img1{
        position: absolute;
        top: 1800px;
    }
    header h1{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .repos h2{
        position: absolute;
        top:540px ;
        left: 43%;
    }
    .repos h4{
        position: absolute;
        top: 570px ;
        left: 43%;
    }
    .repos p{
        text-align: center;
        font-size: 15px;
        position: absolute;
        top: 620px;
        left: 10%;
    }
    .repos img{
        position: absolute;
        top: 350px;
        left: 20%;
    }
    .repos .container{
        position: absolute;
        top: 730px;
        left: 37%;
    }
    .jeux img{
        position: absolute;
        top: 820px;
        left: 20%;
    }
    .jeux h2{
        position: absolute;
        top:1010px ;
        left: 43%;
    }
    .jeux h4{
        position: absolute;
        top: 1050px ;
        left: 40%;
    }
    .jeux p{
        text-align: center;
        font-size: 15px;
        position: absolute;
        top: 1100px;
        left: 5%;
    }
    .jeux .container{
        position: absolute;
        top: 1230px;
        left: 38% ;
    }
    .marche img{
        position: absolute;
        top: 1310px;
        left: 20%;
    }
    .marche h2{
        position: absolute;
        top: 1500px;
        left:43%;
    }
    .marche h4{
        position: absolute;
        top: 1530px;
        left: 53%;
    }
    .marche p{
        text-align: center;
        position: absolute;
        top:1560px;
        left: 20%;
    }
    .marche .container{
        position: absolute;
        top: 1770px;
        left: 38%;
    }
}
